<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangeng.mapper.MessageMapper">
    
    <resultMap type="com.sangeng.domain.entity.Message" id="MessageResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectMessageVo">
        select id, content from sg_message
    </sql>

    <select id="selectMessageList" parameterType="com.sangeng.domain.entity.Message" resultMap="MessageResult">
        <include refid="selectMessageVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectMessageById" parameterType="Long" resultMap="MessageResult">
        <include refid="selectMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMessage" parameterType="com.sangeng.domain.entity.Message" useGeneratedKeys="true" keyProperty="id">
        insert into sg_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
         </trim>
    </insert>

    <update id="updateMessage" parameterType="com.sangeng.domain.entity.Message">
        update sg_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMessageById" parameterType="Long">
        delete from sg_message where id = #{id}
    </delete>

    <delete id="deleteMessageByIds" parameterType="String">
        delete from sg_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>